.container {
  background: var(--background-blue-darker);
  display: flex;
  justify-content: space-around;
  align-items: top;
  text-align: center;
  color: var(--white);
}

.content {
  margin: 5rem auto;
  width: 50%;
}

.linkedinBtn {
  &:hover {
    background: var(--linkeding-blue);
    color: var(--white);
  }
}

.githubBtn {
  &:hover {
    background: var(--gray-button);
    color: var(--white);
  }
}

.instagramBtn {
  &:hover {
    background: var(--instagram-pink);
    color: var(--white);
  }
}

.instagram {
  height: 90%;
  width: 90%;
}
