.container {
  background: var(--background-blue);
  color: var(--white);
  min-height: 400px;
}

.containerWrapper {
  display: flex;
  justify-content: space-around;
  align-items: top;
  text-align: center;

  max-width: 1120px;
  margin: 0 auto;
}

.description {
  margin: 5rem auto;
  width: 50%;

  & button {
    padding: 0.2rem;
  }

  & a {
    text-decoration: underline;
    &:hover {
      color: var(--subtitle-hover-blue);
    }
  }
}

.descriptionButton {

  &:hover {
    color: var(--white);
    opacity: .9;
  }

  & a {
    text-decoration: none;
    color: var(--black);

    &:hover {
      color: var(--black);
    }
  }
}

@media (max-width: 890px) {
  .container {
    & p {
      padding: 0;
    }
  }
  .containerWrapper {
    display: grid;
  }

  .description {
    margin: 1rem auto;
    width: 80%;
  }
}