.container {
  background: var(--background-blue);
  display: flex;
  justify-content: space-around;
  align-items: top;
  text-align: center;
  color: var(--white);
  min-height: 400px;
}

.description {
  margin: 5rem auto;
  width: 50%;

  & button {
    padding: 0.2rem;
  }

  & a {
    text-decoration: underline;
    &:hover {
      color: var(--subtitle-hover-blue);
    }
  }
}

.descriptionButton {

  &:hover {
    color: var(--white);
    opacity: .9;
  }

  & a {
    text-decoration: none;
    color: var(--black);

    &:hover {
      color: var(--black);
    }
  }
}
