<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="title" content="gusmadev" />
    <meta
      name="description"
      content="gusmadev is the brand of Arthur Gusmao (developer) and this is my oficial website."
    />
    <meta
      name="keywords"
      content="Dev, developer, webdeveloper, javascript, node.js, react, react-native, web, website"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>gusmadev</title>
  </head>
  <body>