<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="title" content="gusmadev" />
    <meta
      name="description"
      content="gusmadev is the brand of Arthur Gusmao (developer) and this is my oficial website."
    />
    <meta
      name="keywords"
      content="Dev, developer, webdeveloper, javascript, node.js, react, react-native, web, website"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>gusmadev</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/adm.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
  </head>
  <body>
    <div>
    <div class="nav">
      <div class="logo nav-items"><a href="#home">&lt;gusmadev/&gt;</a></div>
      <div class="nav-items">
        <a href="#blog">Blog</a>
        <a href="#projects">Projects</a>
        <a href="#about">About</a>
      </div>
    </div>
