<%- include('partials/header'); -%> 
    <div class="container-fluid">
        <div class="row justify-content-md-center row-nav">
            <div class="col-lg-10">
              <nav class="navbar">
                <a class="navbar-brand">&lt;gusmadev/&gt;</a>
                <div class="nav-items">
                  <a href="#blog">Blog</a>
                  <a href="#projects">Projects</a>
                  <a href="#about">About</a>
                </div>
              </nav>
            </div>
          </div>   

    </div>
    
    <%- include('partials/footer'); -%> 