* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 62.5%;
  width: 100vw;
}

body {
  font-size: 1.5rem;
  margin: 0;
  justify-content: center;
  text-align: center;
}

h1 {
  font-weight: 400;
  font-weight: bold;
  margin: 5rem 0;
}
h2 {
  margin: 3rem 0 1.5rem;
}

h2:first-child {
  margin-top: 5rem;
}

p {
  font-size: 2rem;
}

/* ~~~~~~~~~~ NAVBAR ~~~~~~~~~~ */

.navbar-brand {
  font-weight: bold;
  font-size: 2rem;
}

.navbar ul {
  margin: 0.5rem 0 0;
}

.navbar li {
  display: inline-block;
  margin: 0 0.5rem;
}

.navbar a {
  color: #000;
}

/* ~~~~~~~~~~ FOOTER ~~~~~~~~~~ */

footer p {
  font-size: 1.2rem;
  color: #d6d2c4;
}

