/* ~~~~~~~~~~ GENERAL ~~~~~~~~~~ */

h2 {
  margin: 3rem 0 1.5rem;
}

h2:first-child {
  margin-top: 5rem;
}

p {
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: white;
}

.col {
  display: flex;
  justify-content: center;
}

/* ~~~~~~~~~~ HOME CONTENT ~~~~~~~~~~ */

.row-nav {
  background-color: #ffcbcb;
}
.container-top {
  background-color: #ffcbcb;
}

.navbar a {
  margin: 0 0.5rem;
  color: #000;
}

.navbar-brand {
  font-weight: 600;
  font-weight: bold;
  font-size: 2rem;
}

#home {
  height: 550px;
}

#home h1 {
  margin: 10rem 0 0 0;
  color: #132743;
  font-size: 7rem;
  font-weight: normal;
}

#home p {
  margin: 0 0 0 45rem;
  font-size: 2.5rem;
  color: #407088;
}

#home p + p {
  color: #132743;
  margin: 10rem auto;
}

/* ~~~~~~~~~~ BLOG CONTENT ~~~~~~~~~~ */
.container-mid {
  background-color: #1e5f74;
}

#blog {
  height: 450px;
}

#blog .btn {
  margin-top: 2rem;
}

h2 a {
  text-decoration: underline;
}

h2 a:hover {
  color: #8bcdcd;
}

.journal p {
  font-size: 1.5rem;
}

/* ~~~~~~~~~~ PROJETCS CONTENT ~~~~~~~~~~ */

#projects {
  height: 450px;
}
#projects p {
  width: 350px;
  margin-bottom: 3rem;
}
#projects img {
  margin-top: 8rem;
  height: 300px;
  width: 45rem;
}
 #projects ul {
   text-align: left;
 }

 #projects a {
   margin: .5rem .5rem;

 }

 #projects li a:first-child {
   margin-left: 8rem;
 }

/* ~~~~~~~~~~ ABOUT CONTENT ~~~~~~~~~~ */

#about {
  height: 550px;
}

.container-bottom {
  background-color: #132743;
}
.eapps-link {
  visibility: hidden !important;
}
/* ~~~~~~~~~~ FOOTER ~~~~~~~~~~ */

footer p {
  font-size: 1.2rem;
  color: #d6d2c4;
}
