body {
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

/* ~~~~~~~~~~ HOME CONTENT ~~~~~~~~~~ */


.container-top {
  min-height: 650px;
  background-color: #FFFFFF;
}

.row-nav {
  padding-bottom: 3rem;
}

#home {
  background-image: url(../images/backgroundCode.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


#home h1 {
  margin: 10rem 0 0 0;
  font-size: 7rem;
  font-weight: normal;
  text-shadow: 8px 5px 5px #aa3a3a;
}

#home p {
  margin: 0 0 0 45rem;
  font-size: 2.5rem;
}

#home p + p {
  margin: 10rem auto;
}

.fa-angle-double-down {
  color: #1e5f74;
  font-size: 3rem;
  margin-top: 3rem;
}

/* ~~~~~~~~~~ BLOG CONTENT ~~~~~~~~~~ */
.container-mid {
  background-color: #1e5f74;
}

#blog {
  min-height: 450px;
}

#blog .btn {
  margin-top: 2rem;
}

h2 a {
  text-decoration: underline;
}

h2 a:hover {
  color: #8bcdcd;
}

.journal p {
  font-size: 1.5rem;
}

/* ~~~~~~~~~~ PROJETCS CONTENT ~~~~~~~~~~ */

#projects {
  min-height: 450px;
}


#projects h1 {
  margin: 0 auto 3rem;
}

#projects .col-mid-5 {
  margin: 3rem auto;
}
#projects p {
  margin-bottom: 3rem;
}
#projects img {
  margin-top: 6rem;
  height: 300px;
  width: 100%;
}

 #projects a {
   margin: .5rem .5rem;

 }

 #projects ul {
   list-style-type: none;
 }

 #projects li a:first-child {
   margin-left: 2rem;
 }

 #projects li p {
   margin: 0;
 }

 #projects li a {
   margin-bottom: 2rem;
 }

/* ~~~~~~~~~~ ABOUT CONTENT ~~~~~~~~~~ */

#about {
  min-height: 600px;
}

.container-bottom {
  background-color: #132743;
}

#about a {
  margin: 2rem .5rem;
}
/* ~~~~~~~~~~ FOOTER ~~~~~~~~~~ */

footer p {
  font-size: 1.2rem;
  color: #d6d2c4;
}

/* ~~~~~~~~~~ MEDIA QUERY ~~~~~~~~~~ */

@media (max-width: 770px) {
  .fa-angle-double-down {
    visibility: hidden;
  }
}

@media (max-width: 580px) {
  #home p {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 470px) {
  #home h1 {
    font-size: 5rem;
  }
}