body {
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

/* ~~~~~~~~~~ HOME CONTENT ~~~~~~~~~~ */


.container-top {
  height: 100vh;
  background-color: #FFFFFF;
}

.row-nav {
  padding-bottom: 3rem;
}

#home {
  background-image: url(../images/backgroundCode.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


#home h1 {
  margin: 10rem 0 0 0;
  font-size: 7rem;
  font-weight: normal;
  text-shadow: 8px 5px 5px #aa3a3a;
}

#home p {
  margin: 0 0 0 45rem;
  font-size: 2.5rem;
}

#home p + p {
  margin: 10rem auto;
}

.fa-angle-double-down {
  color: #1e5f74;
  font-size: 3rem;
  margin-top: 3rem;
}

/* ~~~~~~~~~~ BLOG CONTENT ~~~~~~~~~~ */
.container-mid {
  background-color: #1e5f74;
}

#blog {
  height: 450px;
}

#blog .btn {
  margin-top: 2rem;
}

h2 a {
  text-decoration: underline;
}

h2 a:hover {
  color: #8bcdcd;
}

.journal p {
  font-size: 1.5rem;
}

/* ~~~~~~~~~~ PROJETCS CONTENT ~~~~~~~~~~ */

#projects {
  height: 450px;
}
#projects p {
  margin-bottom: 3rem;
}
#projects img {
  margin-top: 4rem;
  height: 300px;
  width: 100%;
}

 #projects a {
   margin: .5rem .5rem;

 }

 #projects li a:first-child {
   margin-left: 8rem;
 }

/* ~~~~~~~~~~ ABOUT CONTENT ~~~~~~~~~~ */

#about {
  height: 550px;
}

.container-bottom {
  background-color: #132743;
}

#about a {
  margin: 2rem .5rem;
}
/* ~~~~~~~~~~ FOOTER ~~~~~~~~~~ */

footer p {
  font-size: 1.2rem;
  color: #d6d2c4;
}
