.container {
  background: var(--background-blue);
  color: var(--white);
  min-height: 500px;
  border-top: 1px solid var(--background-blue-darker);
}

.containerWrapper {
  display: flex;
  justify-content: space-around;
  text-align: center;
  max-width: 1120px;
  margin: 0 auto;
}

.description {
  margin: 5rem auto;
  width: 50%;

  & li p {
    margin: 0 0 .5rem 0;
  }

  & button {
    margin: 0 .5rem 2rem .5rem;
  }
}

.carousel {
  margin: 5rem auto;
  width: 50%;
}

.greenButton {
  background: var(--green-button);
  color: var(--white);

  &:hover {
    opacity: .9;
  }
}

.grayButton {
  background: var(--gray-button);
  color: var(--white);

  &:hover {
    opacity: .9;
  }
}

@media (max-width: 950px) {
  .carousel {
    width: 80%;
  }
}

@media (max-width: 890px) {
  .container {
    & p {
      padding: 0;
    }
  }

  .containerWrapper {
    display: grid;
  }
 
  .description {
    margin: 1rem auto;
    width: 80%;
  }
  .carousel {
    padding: 2rem 0 4rem;
  }
}
