.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--background-blue-footer);
  color: #b4b7bb;
}

.footerP {
  margin: 0;
  font-size: 1rem;
}
