.container {
  background: -webkit-linear-gradient(70deg, #1e5f74 40%, #ffffff 40%);
  height: 100vh;

  & footer {
    position: absolute;
    bottom: 0;
  }

  & p {
    padding: 0 3rem;
    font-size: 1.2rem;
  }

  & h1,
  h2,
  p {
    margin-bottom: 1.5rem;
  }

  & footer p {
    margin: 0;
    font-size: 1rem;
  }
}
