.container {
  text-align: center;

  & svg {
    margin: 1rem 0;
    color: var(--background-blue);
  }
}

.contentWrapper {
  min-height: 500px;
  color: var(--white);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(../../../public/images/backgroundCode.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  & h1 {
    font-size: 5rem;
    text-shadow: 8px 5px 5px var(--title-shadow);
    margin-bottom: .5rem;
  }

  & p:first-of-type {
    text-align: right;
    font-weight: bold;
    font-size: 1.5rem;
  }
  p:last-child {
    margin-top: 3rem;
  }
}
